<div class="row vertical-offset-100">
  <div class="col-md-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="glyphicon glyphicon-lock"></span> Forgot Password?</div>
      <div class="panel-body">
        <%= form_tag send_reset_password_email_users_path, class: 'form-horizontal' do %>
          <div class="form-group">
            <%= label_tag :email, nil, class: 'col-sm-3 control-label' %>
            <div class="col-sm-7">
              <%= text_field_tag :email, nil, placeholder: 'Email', class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <%= submit_tag t('submit'), class: 'btn btn-success btn-sm' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
