<% if @published_deals.exists? %>
  <h1>Present Deals</h1>
  <%= render 'deals', deals: @published_deals %>
<% else %>
  <h1>Past Deals</h1>
  <%= render 'deals', deals: @past_deals if @past_deals.exists? %>
<% end %>
