
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border: 2px solid green;
    text-align: center;
}


.main {
    margin-left: 200px;
    border: 2px solid red;
    padding: 0px 10px;
}
