<fieldset>
  <div>
    <%= builder.label :attachment, "Image File" %>
    <%= builder.file_field :attachment %>
    <%= builder.hidden_field :_destroy %>
    <%= link_to "remove", "#", class: "remove_image" %>
  </div>
</fieldset>
